<body style="font-size: 1rem;">
  <style>
    body {
      max-width: 800px;
    }

    .footer {
      background: #777;
      color: #111;
      font-size: 0.8rem;
    }
  </style>
  <div class="main">
    <h2>
      Dear {{user.displayName}},
    </h2>
    <p>Your password reset code is </p>
    <p style="font-size:1.2rem;">{{user.recoveryCode}}</p>
    <p>This code will expire in 30 minutes.</p>
    <p>Click on this link to reset your password: {{link}}</p>
  </div>
  <div class="footer">
    &copy;2021
  </div>
</body>